<a href="https://colab.research.google.com/github/C-Designer/Codestates_Section_Project/blob/main/Section3/section3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
from sklearn.linear_model import LinearRegression
import pandas as pd
import numpy as np

model = LinearRegression()

In [4]:
# trainer
trainer = ['bj', 'tom', 'kevin', 'hani', 'jason', 'jerry', 'jerome', 'baro', 'peter', 'kelly']

li = []
for n in trainer:
    l = []
    l.append(n)
    for i in range(0, 12):
        if i > 1:
            rd = np.random.randint(0, 100)
        elif i == 1:
            rd = np.random.randint(20, 40)
        else:
            rd = np.random.randint(1, 3)
        l.append(rd)
    li.append(l)

li

[['bj', 1, 24, 91, 71, 97, 88, 0, 64, 85, 35, 75, 1],
 ['tom', 2, 23, 50, 97, 90, 44, 74, 5, 99, 41, 47, 23],
 ['kevin', 2, 34, 5, 79, 29, 74, 34, 0, 58, 44, 53, 41],
 ['hani', 1, 36, 27, 88, 72, 21, 47, 99, 50, 65, 31, 89],
 ['jason', 2, 22, 78, 93, 42, 55, 85, 58, 55, 16, 28, 89],
 ['jerry', 2, 35, 51, 30, 17, 63, 37, 93, 6, 92, 41, 60],
 ['jerome', 2, 25, 22, 31, 50, 59, 33, 65, 1, 63, 12, 66],
 ['baro', 2, 38, 48, 83, 42, 64, 19, 75, 4, 29, 90, 6],
 ['peter', 2, 37, 90, 95, 8, 82, 96, 20, 60, 66, 68, 71],
 ['kelly', 1, 37, 8, 74, 23, 10, 55, 10, 80, 44, 26, 81]]

In [102]:
# member
li = []
    for i in range(0, 10000):
        l = []
        for j in range(0, 12):
            if j > 0:
                rd = np.random.randint(0, 100) # wpi 0 ~ 99
            elif i == 1:
                rd = np.random.randint(10, 80) # age 10 ~ 80
            else:
                rd = np.random.randint(1, 3) # sex [1, 2]
            l.append(rd)
        li.append(l)

  
target = []
for i in range(0, 10000):
  target.append(np.random.randint(0, 2))

feature = pd.DataFrame(data= np.array(li), columns=['sex', 'age', 'real', 'roman', 'human', 'ideal', 'agent', 'relation', 'trust', 'manual', 'self', 'culture'])
feature

      sex  age  real  roman  human  ...  relation  trust  manual  self  culture
0       1   55    55     66     85  ...        83     89      87    77       39
1       1   85    94      1     82  ...        82     38       1    11       60
2       1   64    79     75     46  ...        69     95       4    64       37
3       1   88    99      9     87  ...        49     97      43    24       54
4       1   77    14     34     89  ...        80     67      34    43       60
...   ...  ...   ...    ...    ...  ...       ...    ...     ...   ...      ...
9995    1   44    75     78     49  ...        42     46      59    12       65
9996    1   54    27      7     28  ...        30      1      94    45       41
9997    1   49    19     19     65  ...        59     86      47    78       83
9998    1   50    72     90     94  ...         7     68      24    17       75
9999    2    7    17     73     64  ...        30     62      19    74       26

[10000 rows x 12 columns]

In [8]:
for i in range(0, 100000):
  is_sale = np.random.randint(0, 2)
  name = np.random.randint(0, len(trainer))
  member_id = np.random.randint(0, 10000)

0

In [70]:
model.fit(df, target)
model.predict([[1,25, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]])

array([0.49840679])